.followBtn{
    color: #3185F6;
}

#homePageContainer{
    max-width: 700px;
}

.card-body{
    padding-top: 8px;
}

.fas.fa-heart{
    color: #fb3958;
}
.far.fa-heart{
    color: #262626;
}
.fa-comment-alt{
    color: #262626;
}

#showPostImg{
    min-height: 500px;
    min-width: 300px;
    border: 0;
    max-height:700px;
}
.padr{
    padding-right: 0;
}
.padl{
    padding-left: 0;
}

#postComment{
    max-width:700px;
}

.postCommentsFont{
    font-size: 13px;
}

.containerProfile{
    max-width:1000px;
}

.profilePic{
    max-height: 260px;
}

.txtPadding{
    margin-bottom: 0.45rem;
}

.link{
    color:black;
}

.link:hover{
    text-decoration: none;
    color: lightslategray;
}

.rounded-circle{
    border: 0;
}

.accPic{
    width: 25px;
    height:25px;
}
.postImg{
    width: 54px;
    height:54px;
}

body{
    margin-top: 67px;
    background-color: #fafafa;
}

.find-container{
    max-width: 700px;
}
.findImg{
    width: 70px;
    height:70px;
}

.postBtnpadding{
    padding-top:35px;
}

textarea {
    resize: none;
}

.card-text{
    font-family: 'Roboto', serif;
}

.count{
    font-weight: 500;
}
.followNo{
    font-family: 'Roboto', serif;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
}
.time{
    text-transform: uppercase;
    font-size: x-small;
    padding-top: 5px;
    color: #999;
}
.deleteFont{
    font-weight: 700;
    color: #f93b3b;
}

.formHead{
    font-family: 'Satisfy', cursive;
}
.formTextBox{
    background-color: #f7f7f7;
}

.form-control-file{
    display:inline-block;
}

@media (max-width: 768px) {
    #showPostImg{
        display:none;
    }
    .postImg{
        width:47px;
        height:47px;
    }
 }

 @media (max-width: 575.98px) {
    .profilePic{
        width: 100%;
    }
 }

 a.disabled {
    pointer-events: none;
    cursor: default;
  }