.App {
  text-align: center;
}
section {
  margin: auto;
  margin-top: 70px;
  max-width: 30rem;
  margin-bottom: 15px;
  position: relative;
}

/* under 500px */
@media only screen and (max-width: 600px) {
  section {
    margin-bottom: 75px;
  }
}
